<!-- <div style="text-align:center">  <h1>Welcome to {{ title }}!</h1></div><button (click)="goAdmin()">Admin</button>
  <router-outlet></router-outlet> -->
<mat-toolbar color="primary">
  <button mat-button><span style="font-size:.5cm;">&nbsp; Enterprise Management &nbsp; &nbsp; &nbsp; &nbsp; </span></button>

  <span class="horizontalSpacer" style="margin: 20px; color: #aaa;"></span>

  <button mat-button routerLink="/contact">Contact</button> <button mat-button>Hello, {{ userName }}!</button>
  <button mat-button (click)="signOut()" *ngIf="isSignedIn">Sign out</button>

  <button mat-button (click)="toggleTheme()">Theme</button>
</mat-toolbar>

<mat-nav-list style="margin: 10px; color: #aaa;">
  <button mat-mini-fab  routerLink="/nymi-bands" matTooltip="Nymi Bands" color="warn"><mat-icon mat-list-icon>thumb_up</mat-icon></button>
  <div style="margin: 10px; color: #aaa;">
    <mat-icon mat-list-icon>fingerprint</mat-icon><br /><br />
    <mat-icon mat-list-icon>nfc</mat-icon><br /><br />
    <mat-icon mat-list-icon>bluetooth_audio</mat-icon><br /><br />
  </div>
</mat-nav-list>

<router-outlet></router-outlet>

<mat-toolbar class="sidenav0-footer"> &nbsp; &nbsp; &nbsp; © Copyright 2018 Nymi Inc. </mat-toolbar>
