::ng-deep .selected4 {
  background-color: #ff0;
  color: red;
}


.content {
  height: 90%;
}

.form-control {
  width: 20rem;
}
.form-group {
  padding-bottom: 0.5rem;
}
.tableHead {
  background-color: #0f6d99;
  color: white !important;
}
tr:hover {
  color: white;
}
hr {
  background-color: #00c1ca;
  color: #00c1ca;
}
.table-hover tbody tr:hover {
  background-color: #59c6fa !important;
}
.user-table {
  color: white;
  opacity: 0.7;
}
table th {
  font-weight: normal;
}

.horizontalSpacer {
  flex: 1 1 auto;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 44px;
}

.sidenav0-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}
.sidenav0-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  background: rgba(128, 128, 128, 0.1);
}
.sidenav0-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.sidenav0-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
