<!-- <div style="text-align:center">  <h1>Welcome to {{ title }}!</h1></div><button >Admin</button>
  <router-outlet></router-outlet> -->
<mat-toolbar color="primary">
  <button mat-button><span style="font-size:.5cm;">&nbsp; Enterprise Management &nbsp; &nbsp; &nbsp; &nbsp; </span></button>

  <span class="horizontalSpacer" style="margin: 20px; color: #aaa;"></span>

  <button mat-button routerLink="/contact">Contact</button> <button mat-button>Hello, {{ userName }}!</button>
  <button mat-button (click)="signOut()" *ngIf="isSignedIn">Sign out</button>

  <button mat-button (click)="toggleTheme()">Theme</button>
</mat-toolbar>

<div style="padding: 0px; background-color: #eee; float: left;">
  <mat-nav-list style="margin: 10px; color: #d00;" color="warn">
    <button mat-mini-fab (click)="goAdmin()" matTooltip="Admin"><mat-icon mat-list-icon>perm_identity</mat-icon></button> <br />
    <br />
    <button mat-mini-fab routerLink="/nymi-bands" matTooltip="Nymi Bands" color="warn"><mat-icon mat-list-icon>thumb_up</mat-icon></button>
    <br />
    <br />
    <button mat-mini-fab routerLink="/hero-form-reactive" matTooltip="Nymi Bands" color="warn">
      <mat-icon mat-list-icon>nfc</mat-icon>
    </button>
    <div style="margin: 20px 10px; color: #aaa;">
      <mat-icon mat-list-icon>fingerprint</mat-icon><br /><br />
      <mat-icon mat-list-icon>nfc</mat-icon><br /><br />
      <mat-icon mat-list-icon>bluetooth_audio</mat-icon><br /><br />
      <mat-icon mat-list-icon>fingerprint</mat-icon><br /><br />
      <mat-icon mat-list-icon>nfc</mat-icon><br /><br />
      <mat-icon mat-list-icon>bluetooth_audio</mat-icon><br /><br />
      <mat-icon mat-list-icon>fingerprint</mat-icon><br /><br />
      <mat-icon mat-list-icon>nfc</mat-icon><br /><br />
      <mat-icon mat-list-icon>bluetooth_audio</mat-icon><br /><br />
    </div>
  </mat-nav-list>
</div>

<div style="margin: 10px; float: left;"><router-outlet></router-outlet></div>

<mat-toolbar class="sidenav0-footer"> &nbsp; &nbsp; &nbsp; © Copyright 2018 Nymi Inc. </mat-toolbar>
