<nav><ul>
    <li><a routerLink=""           [class.activated]="currentUrl =='/'"><i class="material-icons">supervised_user_circle</i></a></li>
    <li><a routerLink="users"      [class.activated]="currentUrl == '/users'"><i class="material-icons">save</i></a></li>
    <li><a routerLink="posts"      [class.activated]="currentUrl == '/posts'"><i class="material-icons">message</i></a></li>
    <li><a routerLink="ap-poc"     [class.activated]="currentUrl =='/ap-poc'"><i class="material-icons">pause</i></a></li>
    <li><a routerLink="apPoc"      [class.activated]="currentUrl == '/apPoc'"><i class="material-icons">pause</i></a></li>
    <li><a routerLink="user-cores" [class.activated]="currentUrl =='/user-cores'"><i class="material-icons">supervisor_account</i></a></li>
    <li><a routerLink="nymi-bands" [class.activated]="currentUrl =='/nymi-bands'"><i class="material-icons">thumb_up</i></a></li>
</ul></nav>