<div style="background-color:#faffff; margin: 0px; padding: 20px;">
  <h1>Search Highlighting Demo</h1>

  <div>
    <mat-form-field>
      <input #focus0 matInput placeholder="Searched words" [formControl]="searchedWordsControl" />
    </mat-form-field>
  </div>

  <table>
    <tr>
      <th>ID</th>
      <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Notes</th>
    </tr>
    <tr>
      <td appHighlight [searchedWords]="searchedWords$ | async" [text]="textA0.value" classToApply="selected4"></td>
      <td></td>
      <td appHighlight [searchedWords]="searchedWords$ | async" [text]="textB0.value" classToApply="selected4"></td>
    </tr>
    <tr>
      <td appHighlight [searchedWords]="searchedWords$ | async" [text]="textA1.value" classToApply="selected4"></td>
      <td></td>
      <td appHighlight [searchedWords]="searchedWords$ | async" [text]="textB1.value" classToApply="selected4"></td>
    </tr>
    <tr>
      <td appHighlight [searchedWords]="searchedWords$ | async" [text]="textA2.value" classToApply="selected4"></td>
      <td></td>
      <td appHighlight [searchedWords]="searchedWords$ | async" [text]="textB2.value" classToApply="selected4"></td>
    </tr>
    <tr>
      <td appHighlight [searchedWords]="searchedWords$ | async" [text]="textA3.value" classToApply="selected4"></td>
      <td></td>
      <td appHighlight [searchedWords]="searchedWords$ | async" [text]="textB3.value" classToApply="selected4"></td>
    </tr>
    <tr>
      <td appHighlight [searchedWords]="searchedWords$ | async" [text]="textA4.value" classToApply="selected4"></td>
      <td></td>
      <td appHighlight [searchedWords]="searchedWords$ | async" [text]="textB4.value" classToApply="selected4"></td>
    </tr>



    <tr>
      <td appHighlight [searchedWords]="searchedWords$ | async" [text]="textC0.value" classToApply="selected4"></td>
      <td></td>
      <td appHighlight [searchedWords]="searchedWords$ | async" [text]="textD0.value" classToApply="selected4"></td>
    </tr>
    <tr>
      <td appHighlight [searchedWords]="searchedWords$ | async" [text]="textC1.value" classToApply="selected4"></td>
      <td></td>
      <td appHighlight [searchedWords]="searchedWords$ | async" [text]="textD1.value" classToApply="selected4"></td>
    </tr>
    <tr>
      <td appHighlight [searchedWords]="searchedWords$ | async" [text]="textC2.value" classToApply="selected4"></td>
      <td></td>
      <td appHighlight [searchedWords]="searchedWords$ | async" [text]="textD2.value" classToApply="selected4"></td>
    </tr>
    <tr>
      <td appHighlight [searchedWords]="searchedWords$ | async" [text]="textC3.value" classToApply="selected4"></td>
      <td></td>
      <td appHighlight [searchedWords]="searchedWords$ | async" [text]="textD3.value" classToApply="selected4"></td>
    </tr>
    <tr>
      <td appHighlight [searchedWords]="searchedWords$ | async" [text]="textC4.value" classToApply="selected4"></td>
      <td></td>
      <td appHighlight [searchedWords]="searchedWords$ | async" [text]="textD4.value" classToApply="selected4"></td>
    </tr>
  </table>
</div>
