.header {
  text-align: center;
}

.header h1 {
  color: #08f;
  font-family: serif;
  font-size: 38px;
  font-family: 'Times New Roman';
}

.header h4 {
  color: #08f;
  font-family: serif;
  font-size: 38px;
  font-family: 'Times New Roman';
}

.content {
  margin: 10px;
}

.margin25 {
  margin: 25px;
}

.upload {
  cursor: pointer;
}
